@font-face {
   font-family: 'Zawgyi';
   src: url("fonts/Zawgyi.woff2") format("woff2"),
   url("fonts/Zawgyi.ttf") format("truetype");
}
* {
   box-sizing: border-box;
}
body {
   background: #fff;
   font-family: 'Zawgyi', sans-serif;
   font-size: 120%;
   padding: 0;
   margin: 0;
}
::-webkit-scrollbar {
   display: none;
}
img {
   max-width: 100%;
}
#home {
   padding: 10px;
   display: flex;
   flex-direction: column;
   /* padding-bottom: 10px; */
   background-color: #dadce0;
}

#user-name{
   font-family: "EB Garamond", serif;
   font-size: 20px;
}
.MuiBadge-root{
   width: 100%;
}

.MuiBadge-badge{
   height: 30px !important;
   min-width: 30px !important;
   border-radius: 15px !important;
   font-size: 1.5rem !important;
   background-color: #ed1c24 !important;

}
.quizzes {
   text-align: center;
   border: 1px solid #eeeeee;
   margin-bottom: 10px;
   padding-bottom: 5px;
   border-radius: 4px;
   box-shadow: 3px 3px 5px #cccccc;
   background-color: white;

}
#header {
   background: #ed1c24;
   color: white;
   text-align: center;
   height: 65px;
   display: flex;
   align-items: center;
   justify-content: center;
}
#quiz {
   padding: 10px;
   text-align: center;
   min-height: 100vh;
}
.btn-fb-share {
   width: 100%;
   background-color: #3b5998;
   color: #fff;
   border: 0;
   border: 1px solid #2d4473;
   border-radius: 7px;
   -webkit-box-shadow: 0 20px 15px -15px rgba(0,0,0,.5);
   box-shadow: 0 20px 15px -15px rgba(0,0,0,.5);
   -webkit-transition: background-color .15s ease-in-out;
   transition: background-color .15s ease-in-out;
   padding: 10px 15px 13px;
   cursor: pointer;
   font-size: 20px;
   margin: 10px auto ;
}
#try-again {
   border: none;
   width: 100%;
   outline: none;
   height: 50px;
   font-size: 20px;
}
#canvas {
   display: none;
}
#loading {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: white;
   background: #ed1c24;
}
#help {
   position: absolute;
   bottom: 0;
   width: 100%;
   background: #ed1c24;
   color: white;
   text-align: center;
   padding: 5px 0;
}

#home, #quiz {
   height: 90vh;
   overflow: scroll;
}
